REACT_APP_CONTACT_ENDPOINT=http://localhost:8787
REACT_APP_STUDIO_API=http://localhost:8788
REACT_APP_WEBSITE_DOMAIN=http://localhost:3000
REACT_APP_LAB_URL=http://localhost:5174
REACT_APP_SCALES_URL=http://localhost:5175
REACT_APP_STUDIO_EMAIL=hello@batterystringstudio.com
