REACT_APP_CONTACT_ENDPOINT=https://api.batterystringstudio.com/contact
REACT_APP_STUDIO_API=https://api.batterystringstudio.com
REACT_APP_WEBSITE_DOMAIN=https://batterystringstudio.com
REACT_APP_LAB_URL=https://lab.batterystringstudio.com
REACT_APP_SCALES_URL=https://scales.batterystringstudio.com
REACT_APP_STUDIO_EMAIL=hello@batterystringstudio.com
REACT_APP_STUDIO_EMAIL_PERSONAL=jarred@batterystringstudio.com
